@import 'https://fonts.googleapis.com/css?family=Ubuntu|Noto+Sans|Open+Sans|Roboto';
body {
    background: url(ale-l21wall.png) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: Noto Sans;
    margin: 0;
    padding: 0;
}

.title {
    color: red;
    font-family: Roboto;
    font-weight: 100;
    padding: 0;
    padding-top: 7.5px;
    padding-left: 10px;
    margin: 0;
    cursor: pointer;
    vertical-align: top;
    display: inline-block;
}

.title2 {
    color: red;
    font-family: Roboto;
    font-weight: 1000;
    margin: 0;
    margin-top: 10px;
    display: inline-block;
    font-size: 50px;
}

.button{
    background-color: red;
    border-radius: 6px;
    
}

.navbar {
    background-color: white;
    margin-top: -20px;
    display: inline-block;
    vertical-align: bottom;
    width: 100%;
    height: 75px;
    line-height: normal;
}

.privacypolicybutton {
    display: inline-block;
    float: right;
    padding-top: 15px;
    padding-right: 10px;
}

.privacypolicytext {
    transition: ease-in-out 0.2s;
    padding: 2px;
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
    color: white;
    border-color: gray;
    background-color: gray;
}

.privacypolicytext:hover {
    transition: ease-in-out 0.2s;
    padding: 2px;
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
    color: gray;
    border-color: gray;
    background-color: white;
    cursor: pointer;
}

.getbessos {
    display: block;
    float: right;
    padding-top: 19px;
    padding-right: 10px;
    margin: 0;
}

.getbessostext {
    transition: ease-in-out 0.2s;
    padding: 1px;
    font-size: 15px;
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
    color: white;
    border-color: red;
    background-color: red;
}

.getbessostext:hover {
    transition: ease-in-out 0.2s;
    padding: 1px;
    border-style: solid;
    border-width: 2px;
    border-radius: 6px;
    color: red;
    border-color: red;
    background-color: white;
    cursor: pointer;
}

.mainblock {
    font-family: Ubuntu;
    text-shadow: 0 0 2px #000000;
    padding-bottom: 10px;
}

.icon {
    padding-top: 30px;
}

.slogan {
    color: white;
    font-weight: 100;
    font-size: 20px;
}

.features {
    background-color: white;
    padding-top: 1px;
    padding-bottom: 10px;
}

.featuretext {
    padding-left: 40px;
    padding-right: 40px;
}

.featureimg {
    width: 55%;
}

.laptopimg {
    width: 60%;
}

.agpirielink {
    transition: ease-in-out 0.2s;
    color: chartreuse;
    text-decoration: none;
}

.agpirielink:hover {
    transition: ease-in-out 0.2s;
    text-decoration: underline;
}

.privacypolicy {
    color: white;
    text-shadow: 0 0 10px #000000;
    padding-left: 10px;
    padding-right: 10px;
}

.footer {
    background-color: white;
    margin-bottom: -22px;
    margin-top: -10px;
    font-size: 15px;
}

.footertext {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.footertextlink {
    color: chartreuse;
    text-decoration: none;
    display: inline-block;
    margin: 0;
    padding: 0;
}

.footertextlink:hover {
    text-decoration: underline;
}

.video {
    padding-top: 20px;
}
